/* 底部购物车区域 */
.lt_go_cart {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 55px;
    padding: 10px;
    width: 100%;
    border-top: 1px solid red;
    background-color: #EFEFF4;
}
.lt_go_cart a {
  padding: 5px;
}
/* 标题 */
.item_box {
  padding: 10px;
  border-top: 1px solid #ccc;
}
/* 价格区域 */
.price {
    color: red;
}
.oldPrice {
    text-decoration: line-through;
    font-size: 14px;
}
/* 尺码 */
.lt_size span {
    border: 1px solid #666;
}
.current {
    background-color: orange;
}