.lt_sort {
    height: 30px;
    line-height: 30px;
    background-color: #ccc;
    padding: 0 10px;
    font-size: 12px;
}
.lt_sort a {
    width: 25%;
    text-align: center;
    float: left;
    color: #666;
}
.lt_sort a.current {
  color: orange;
}
.loading {
    width: 50px;
    height: 50px;
    border: 4px solid #069;
    position: absolute;
    left: 50%;
    top: 150px;
    /* transform: translateX(-50%); */
    animation: rotate 1s infinite ease-in-out;
}
@keyframes rotate {
    from {
        transform: translateX(-50%) rotate(0deg);
    }
    to {
        transform: translateX(-50%) rotate(360deg);
    }
}